# Don't add `/` after the URL
NEXT_PUBLIC_REST_API_ENDPOINT=${NEXT_PUBLIC_REST_API_ENDPOINT}
NEXT_PUBLIC_SHOP_URL=${NEXT_PUBLIC_SHOP_URL}
 
 
# Application Mode and Authentication key
APPLICATION_MODE=${APPLICATION_MODE}
NEXT_PUBLIC_AUTH_TOKEN_KEY=${NEXT_PUBLIC_AUTH_TOKEN_KEY}
 
 
# Default Language
NEXT_PUBLIC_DEFAULT_LANGUAGE=${NEXT_PUBLIC_DEFAULT_LANGUAGE} 
 
# Multilang
# Before enabling multilingual make sure your API supports multilingual
NEXT_PUBLIC_ENABLE_MULTI_LANG=${NEXT_PUBLIC_ENABLE_MULTI_LANG}
NEXT_PUBLIC_AVAILABLE_LANGUAGES=${NEXT_PUBLIC_AVAILABLE_LANGUAGES}
 
 
# API Key for third party service
# NEXT_PUBLIC_GOOGLE_MAP_API_KEY=AIzaSyCzqw3YZQlodubmzClln9pTdho0pmMKlxY